@use "mixins" as m;
@use "variables" as v;

* {
    margin: 0;
    padding: 0;
}

.first-page {
    @include m.background-image;
    color: v.$main-font-color;
}

.header {
    background-color: rgba(255, 255, 255, 0.142);
    height: 10vh;
    width: 100vw;

    @include m.desktop{
        height: 7vh;
    }
}

.nav {
    @include m.nav-menu;

    &__toggle {
        @include m.desktop{
            display: none;
        }
    }

    &__menu {
        @include m.desktop{
            flex-direction: row;
            align-items: center;
            justify-content: end;
            padding: 15px 25px;
            gap: 40px;
        }

        li {
            @include m.desktop{
                display: block;
            }
        }
    }
}

#nav__checkbox:checked ~ ul.nav__menu li {
    display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .fa-xmark {
    display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .fa-bars {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25vh;
    gap: 200px;

    @include m.desktop{
        margin-top: 35vh
    }

    &__title {
        font-size: 33px;
        padding-bottom: 43px;
    }

    &__description{
        font-size: 22px;
        padding-bottom: 43px;
        width: 260px;

        @include m.desktop{
            width: 100vw;
        }
    }
       
        a {
            color: v.$main-font-color;
            font-size: 27px;
        }
}

.head-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 55px;

    h2{
        font-size: 33px;
    }
}

.team {
    @include m.desktop{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .rakib {
        @include m.team-design;

        @include m.desktop{
            width: 550px;
        }
    
        &__description{
            height: 180px;

            @include m.desktop {
                height: 120px;
                width: 500px;
            }

            p {
                @include m.desktop{
                    padding: 45px;
                }
            }
        }
    
        &__picture{
            @include m.team-picture-styling;
            background-image: url(./../assets/Rakib_Square.png);
        }
    }
    
    .alexandra {
        @include m.team-design;
        margin-top: 50px;

        @include m.desktop{
            width: 550px;
            margin-top: 0;
        }
    
        &__description{
            height: 150px;

            @include m.desktop {
                height: 120px;
                width: 500px;
            }

            p {
                @include m.desktop{
                    padding: 45px;
                }
            }
        }
    
        &__picture{
            @include m.team-picture-styling;
            background-image: url(./../assets/Alexandra_Square.png);
        }
    }
     
    .lasse {
        @include m.team-design;
        margin-top: 50px;

        @include m.desktop{
            width: 550px;
        }
    
        &__description{
            height: 120px;

            @include m.desktop {
                height: 100px;
                width: 340px;
            }

            p {
                @include m.desktop{
                    padding: 45px;
                }
            }
        }
    
        &__picture{
            @include m.team-picture-styling;
            background-image: url(./../assets/NoPerson_Square.png);
        }    
    }
    
    .sebastian{
        @include m.team-design;
        margin-top: 50px;

        @include m.desktop{
            width: 550px;
        }
    
        &__description{
            height: 160px;

            @include m.desktop {
                height: 120px;
                width: 500px;
            }

            p {
                @include m.desktop{
                    padding: 45px;
                }
            }
        }
    
        &__picture{
            @include m.team-picture-styling;
            background-image: url(./../assets/Sebastian_Square.png);
        }
    }
}

.aside-arrow-down {
    @include m.black-arrow;
}

.info {
    background-color: black;
    color: v.$main-font-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 60px;
    padding-left: 25%;
    
    @include m.desktop {
        flex-direction: row;
        padding-left: 0;
        justify-content: space-evenly;
    }

    p{
        font-size: 27px;
        padding: 8px;

        @include m.desktop {
            font-size: 22px;
        }

        i{
            font-size: 32px; 
            padding-right: 15px;  
            
            @include m.desktop {
                font-size: 24px;
            }
        }
    }
}
