@use "mixins" as m;

* {
    margin: 0;
    padding: 0;
}

.first-page {
    @include m.background-image;
}

.header {
    background-color: rgba(255, 255, 255, 0.268);
    padding: 20px;
    color: white;
}

.nav {
    @include m.nav-menu;
    // background-color: rgba(255, 255, 255, 0.268);
    // height: 20px;
    // width: 100vw;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // color: white;
}

#nav__checkbox:checked ~ ul.nav__menu li {
    display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .fa-xmark {
    display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .fa-bars {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    margin-top: 25vh;
    color: white;

    &__title {
        font-size: 40px;
        padding-bottom: 43px;
    }

    &__description{
        font-size: 22px;
        padding-bottom: 43px;
    }

    &__arrow-down {
        display: flex;
        justify-content: end;
        
        a {
            color: white;
            font-size: 27px;
        }
    }
}

.head-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 55px;

    h2{
        font-size: 33px;
    }
}

.rakib {
    @include m.team-design;

    &__description{
        height: 180px;
    }

    &__picture{
        @include m.team-picture-styling;
        background-image: url(./../assets/Rakib_Square.png);
    }
}

.alexandra {
    @include m.team-design;
    margin-top: 50px;

    &__description{
        height: 150px;
    }

    &__picture{
        @include m.team-picture-styling;
        background-image: url(./../assets/Alexandra_Square.png);
    }
}
 
.lasse {
    @include m.team-design;
    margin-top: 50px;

    &__description{
        height: 120px;
    }

    &__picture{
        @include m.team-picture-styling;
        background-image: url(./../assets/NoPerson_Square.png);
    }    
}

.sebastian{
    @include m.team-design;
    margin-top: 50px;

    &__description{
        height: 160px;
    }

    &__picture{
        @include m.team-picture-styling;
        background-image: url(./../assets/Sebastian_Square.png);
    }
}

.aside-arrow-down {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 70px;

    a {
        color: black;
        font-size: 27px;
    }
}
